<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PingSiteMap</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CallSiteMap</display-name>
    <servlet-name>CallSiteMap</servlet-name>
    <servlet-class>com.mine.stuff.CallSiteMap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallSiteMap</servlet-name>
    <url-pattern>/CallSiteMap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateSiteMap</display-name>
    <servlet-name>GenerateSiteMap</servlet-name>
    <servlet-class>com.mine.stuff.GenerateSiteMap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateSiteMap</servlet-name>
    <url-pattern>/GenerateSiteMap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoReponseTest</display-name>
    <servlet-name>NoReponseTest</servlet-name>
    <servlet-class>com.mine.stuff.NoReponseTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoReponseTest</servlet-name>
    <url-pattern>/NoReponseTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScrapePage</display-name>
    <servlet-name>ScrapePage</servlet-name>
    <servlet-class>com.mine.stuff.ScrapePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScrapePage</servlet-name>
    <url-pattern>/ScrapePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProxyService</display-name>
    <servlet-name>ProxyService</servlet-name>
    <servlet-class>com.mine.stuff.ProxyService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProxyService</servlet-name>
    <url-pattern>/ProxyService</url-pattern>
  </servlet-mapping>
</web-app>